<div
  class="product-card-item {{ class | default: '' }}"
  style="{{ style | default: '' }}"
>
  <a href="{{ product.url | within: collection }}" class="block relative ">
    <img
      sizes="
        (min-width: 768px) 450px,
        630px
      "
      srcset="
        {{ product.featured_image.src | img_url: '450x' }} 450w,
        {{ product.featured_image.src | img_url: '630x' }} 630w
      "
      src="{{ product.featured_image.src | img_url: '630x' }}"
      alt="{{ product.featured_image.alt | escape }}"
      loading="lazy"
      class="w-full h-80 sm:h-64 xl:h-80 2xl:max-h-96 rounded-xl object-cover object-center"
    >

    {% assign badge = '' %}
    {% for tag in product.tags %}
      {% if tag contains 'badge-' %}
        {% assign temp = tag | split: '-' %}
        {% assign badge = temp[1] %}
      {% endif %}
    {% endfor %}
    {% if badge != '' %}
      <div class="w-24 h-7 flex items-center justify-center text-xs font-bold text-light-black absolute top-4 left-4 rounded-full bg-green-500">
        {{ badge }}
      </div>
    {% endif %}
  </a>

  <div class="mt-5">
    {% if product.title %}
      <a
        href="{{ product.url | within: collection }}"
        class="product-card-title text-sm font-bold text-light-black leading-none"
      >
        {{ product.title }}
      </a>
    {% endif %}

    {% if product.available %}
      <div class="mt-4 text-sm leading-none text-lighter-gray">
        <span>
          {{ product.price | money }}
        </span>

        {% if product.compare_at_price %}
          <del class="ml-2 line-through">
            {{ product.compare_at_price | money }}
          </del>
        {% endif %}
      </div>
    {% else %}
      <div class="mt-4 text-sm leading-none text-lighter-gray">
        {{ 'common.sold_out' | t }}
      </div>
    {% endif %}
    <div
      class="mt-3"
      data-bv-show="rating_summary"
      data-bv-product-id="{{ product.id }}"
    ></div>
    <a
      class="btn-product-quick-add opacity-0 mt-5 button button-secondary"
      href="#"
    >
      + Quick Buy
    </a>
  </div>
</div>
