<div class="md:bg-transparent z-50 relative">
  <div class="container">
    <div class="h-header-mob md:h-[84px] flex justify-between items-center">
      <div
        @click="$store.dispatch('mobile-menu/toggle')"
        id="nav-burger-icon"
        class="md:hidden"
      >
        <span></span>
        <span></span>
      </div>
      <a
        href="{{ routes.root_url }}"
        class="inline-block text-2xl lg:text-3xl font-bold"
      >
        <span class="white-logo">
          {% render 'icon-logo' %}
        </span>
        <span class="black-logo hidden">
          {% render 'icon-logo-black' %}
        </span>
      </a>

      <div class="hidden md:flex md:items-center">
        <div>
          {% render 'layout-menu', class: 'space-x-4', linklist: section.settings.linklist %}
        </div>
        <div class="ml-10">
          {% render 'search-form' %}
        </div>
      </div>

      {% assign link_class = 'header-action-item flex flex-col justify-center items-center text-sm h-10 w-10 p-1' %}
      {% assign icon_class = 'w-auto h-6 text-black mb-2' %}

      <a
        href="{{ routes.cart_url }}"
        class="{{ link_class }} md:hidden relative"
      >
        {% render 'icon-cart', class: icon_class %}

        <div class="w-5 h-5 flex justify-center items-center bg-cart text-light-black text-xs rounded-full absolute top-0 right-0">
          {{ cart.item_count }}
        </div>
      </a>

      <div class="hidden md:flex">
        <a
          href="{{ routes.search_url }}"
          class="{{ link_class }}"
        >
          {% render 'icon-location', class: icon_class %}
        </a>

        {% if shop.customer_accounts_enabled %}
          <a
            href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}"
            class="{{ link_class }}"
          >
            {% render 'icon-account', class: icon_class %}
          </a>
        {% endif %}

        <a
          href="{{ routes.cart_url }}"
          class="{{ link_class }} relative"
        >
          {% render 'icon-cart', class: icon_class %}

          <div class="w-5 h-5 flex justify-center items-center bg-cart text-light-black text-xs rounded-full absolute top-0 right-0">
            {{ cart.item_count }}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "z-50",
  "settings": [
    {
      "type": "link_list",
      "id": "linklist",
      "label": "Linklist"
    }
  ]
}
{% endschema %}
