<div class="container py-16 flex justify-between max-w-6xl">
  <div class="basis-1/2 max-w-[350px]">
    <div class="font-abril-display text-[40px] leading-[48px] font-bold">
      {{ section.settings.title }}
    </div>
    <div class="mt-5 leading-[22px] font-light">
      {{ section.settings.subtitle }}
    </div>
    <div class="links ">
      {% for block in section.blocks %}
        <div class="flex mt-7 items-center">
          {% if block.settings.icon %}
            <span>{{ block.settings.icon }}</span>
          {% endif %}
          <a
            href="{{ block.settings.link }}"
            class="font-bold leading-[22px] border-b-2 border-ecstasy"
          >
            {{- block.settings.text -}}
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="mt-16">
      {%
        render 'section-image',
        class: 'w-full h-auto'
        image: section.settings.image,
        alt_text: "block.settings.name"
      %}
    </div>
  </div>

  <div class="basis-1/2 border border-silver rounded-[20px] py-10 px-16">
    {% form 'contact' %}
      <div>
        {% if form.posted_successfully? %}
          {{ 'contact.response' | t }}
        {% endif %}

        {% if form.errors %}
          {% capture error_text %}
            {{ form.errors | default_errors }}
          {% endcapture %}

          {%
            render 'layout-message',
            type: 'error'
            text: error_text
            class: 'mb-8'
          %}
        {% endif %}

        <div class="flex items-center justify-between">
          <div class="font-bold">Please fill out the form below</div>
          <div class="text-xs font-light text-scorpion">* Required</div>
        </div>

        <div class="w-full mt-[30px]">
          <input
            type="text"
            name="contact[name]"
            id="ContactFormName"
            value="{% if form.name %}{{ form.name }}{% endif %}"
            class="w-full h-[45px] bg-wild-sand border border-silver rounded-full px-[30px] text-sm font-light text-wild-sand"
            placeholder="Full Name*"
            required
          >
        </div>

        <div class="w-full mt-[30px]">
          <input
            type="email"
            name="contact[email]"
            id="ContactFormEmail"
            value="{% if form.email %}{{ form.email }}{% endif %}"
            class="w-full h-[45px] bg-wild-sand border border-silver rounded-full px-[30px] text-sm font-light text-wild-sand"
            placeholder="Email Address*"
            required
          >
        </div>

        <div class="w-full mt-[30px]">
          <input
            type="text"
            name="contact[order_number]"
            id="ContactFormPhone"
            placeholder="Order Number"
            class="w-full h-[45px] bg-wild-sand border border-silver rounded-full px-[30px] text-sm font-light text-wild-sand"
          >
        </div>

        <div class="w-full mt-[30px]">
          <textarea
            rows="10"
            name="contact[body]"
            id="ContactFormMessage"
            class="w-full h-[220px] bg-wild-sand border border-silver rounded-[10px] px-[30px] text-sm font-light text-wild-sand"
          >
          {% if form.body %}
            {{ form.body }}
          {% endif %}
        </textarea>
        </div>

        <div class="mt-10">
          <button class="button button-secondary">Submit</button>
        </div>
      </div>
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "Contact Us",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "html",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}
