<div
  {% if section.blocks.size > 1 %}
    data-slider="hero"
  {% endif %}
  class="overflow-hidden relative"
>
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      {% assign image = block.settings.image %}
      <a
        href="{{ block.settings.button-url }}"
        class="w-full md:h-auto relative overflow-hidden swiper-slide lozad"
      >
        {% if image %}
          <img
            sizes="
              (min-width: 1280px) 1500px,
              (min-width: 1024px) 1250px,
              (min-width: 768px) 1000px,
              (min-width: 640px) 720px,
              600px
            "
            srcset="
              {{ image | img_url: '600x' }} 600w,
              {{ image | img_url: '720x' }} 720w,
              {{ image | img_url: '1000x' }} 1000w,
              {{ image | img_url: '1250x' }} 1250w,
              {{ image | img_url: '1500x' }} 1500w
            "
            src="{{ image | img_url: '1500x' }}"
            alt="Hero Image"
            loading="lazy"
            class="w-full h-full hidden md:block object-cover object-center"
          >
          {%- assign mobile_image = block.settings.image_mobile | default: image -%}
          <img
            sizes="
              (min-width: 640px) 720px,
              600px
            "
            srcset="
              {{ mobile_image | img_url: '600x' }} 600w,
              {{ mobile_image | img_url: '720x' }} 720w,
            "
            src="{{ mobile_image | img_url: '600x' }}"
            alt="Hero Image"
            loading="lazy"
            class="w-full h-full block md:hidden object-cover object-center"
          >
        {% else %}
          {{ 'lifestyle-1' | placeholder_svg_tag: 'w-full h-full' }}
        {% endif %}

        <div class="hero-content container w-full mt-12 md:mt-0 md:absolute md:top-1/2 md:-translate-y-1/2 md:left-1/2 md:-translate-x-1/2 text-{{ block.settings.content_align }} bg-transparent pt-6 md:p-6 md:mb-8 md:mr-8">
          <div class="md:max-w-2xl {% if block.settings.content_align == 'center' %}md:mx-auto{% elsif block.settings.content_align == 'right' %}md:ml-auto md:mr-0{% endif %}">
            {% assign title_lines = block.settings.headline | split: '<br>' %}
            <div class="hero-title text-hero-title-mob md:text-hero-title-md font-abril-display font-extrabold leading-none text-light-black md:text-white w-fit {% if block.settings.content_align == 'center' %}md:mx-auto{% elsif block.settings.content_align == 'right' %}md:ml-auto md:mr-0{% endif %} relative">
              <span class="relative z-0">{{ title_lines[0] }}</span>
              <span class="absolute -z-10 font-filson-soft bg-badge-bg rounded-full w-16 h-16 flex items-center justify-center text-sm uppercase text-light-black md:text-badge-text tracking-1 leading-none right-0 top-0 translate-x-10 -translate-y-9 md:translate-x-1/2 md:-translate-y-5 ">
                <span>{{- block.settings.badge -}}</span>
              </span>
            </div>
            <div class="text-hero-title-mob md:text-hero-title-md md:text-{{ block.settings.content_align }} font-abril-display font-extrabold leading-none text-light-black md:text-white">
              {{ title_lines[1] }}
            </div>

            <div class="hidden md:block text-hero-subtitle-md font-medium text-light-black md:text-white mt-3 mb-6">
              {{ block.settings.subheadline }}
            </div>

            <div class="mt-5 md:mt-0 mb-7 text-base text-light-black md:text-white leading-5 font-light max-w-xl mx-auto {% if block.settings.content_align == 'center' %}md:mx-auto{% elsif block.settings.content_align == 'right' %}md:ml-auto md:mr-0{% endif %} {% if block.settings.content_align == 'center' %}md:mx-auto{% elsif block.settings.content_align == 'left' %}md:mr-auto md:ml-0{% endif %}">
              {{ block.settings.text }}
            </div>

            <div
              href="{{ block.settings.button-url }}"
              class="button button-primary mx-auto {% if block.settings.content_align == 'center' %}md:mx-auto{% elsif block.settings.content_align == 'right' %}md:ml-auto md:mr-0{% endif %} {% if block.settings.content_align == 'center' %}md:mx-auto{% elsif block.settings.content_align == 'left' %}md:mr-auto md:ml-0{% endif %}"
            >
              {{ block.settings.button-text }}
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  {% if section.blocks.size > 1 %}
    <div
      class="swiper-button-next hero-swiper-btn"
    ></div>
    <div class="swiper-button-prev hero-swiper-btn"></div>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.hero.name",
  "class": "shopify-section-vue",
  "settings": [],
  "blocks": [
    {
      "type": "hero_slide",
      "name": "Hero Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image Mobile"
        },
        {
          "type": "select",
          "id": "content_align",
          "label": "Content Align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "headline",
          "label": "t:common.headline",
          "default": "Headline"
        },
        {
          "type": "text",
          "id": "subheadline",
          "label": "Subheadline",
          "default": "Sub Headline"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "t:common.text",
          "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos hic praesentium recusandae dolores odio animi deleniti officia cum itaque."
        },
        {
          "type": "text",
          "id": "badge",
          "label": "Badge",
          "default": "New!"
        },
        {
          "type": "url",
          "id": "button-url",
          "label": "t:common.button.url"
        },
        {
          "type": "text",
          "id": "button-text",
          "label": "t:common.button.text",
          "default": "Button"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.hero.name",
      "category": "Image"
    }
  ]
}
{% endschema %}
